header {
  height: 100vh;
  padding-top: 1rem;
  overflow: hidden;
}
.header__container {
  text-align: center;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.header__container h1{
  text-transform: uppercase;
  font-size: 2.5rem;
}
.header__container h5{
  font-size: 1rem;
}
.header__container h6{
  font-weight: 100;
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

/* CTA */

.cta {
  margin-top: 1rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* HEADER SOCIALS */

.header__socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 0.5rem 0 0 0;
  zoom:1.2;
  transition: 2s;
  box-sizing: border-box;
}

.header__socials a {
  display: inline-block;
  margin: 0 5px; /* Adjust spacing as needed */
  transition: transform 0.3s ease; /* Smooth transition for the transform */
  transform-origin: center; /* Ensures the scaling is centered */
}

.header__socials a:hover {
  transform: scale(1.5); /* Increase the size of the icon */
}

.header__socials::after {
  content: "";
  width: 3rem;
  height: 1px;
  background: var(--color-primary);
}

.header__socials::before {
  content: "";
  width: 3rem;
  height: 1px;
  background: var(--color-primary);
}

/* ME */

.me {
  background: linear-gradient(var(--color-primary), transparent);
  width: 22rem;
  height: 30rem;
  position: absolute;
  /* FOR MAKING PIC IN CENTER: */
  /* ---OPTION 1--- */
  left: calc(50% - 11rem);
  /* ---OPTION 2--- */
  /* left: 50%;
  transform: translateX(-11rem); */
  margin-top: 1rem;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  padding: 1rem 1.5rem 1.5rem 1.5rem;
}

/* SCROLL DOWN */
.scroll__down {
 margin-top: 2.5rem;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}
#mouse-scroll {
  display: contents;
}
#mouse-scroll {
  margin-top: 2rem;
  margin: auto;
  left: 50%;
  top: 80px;
  -webkit-transform: translateX(-50%);
  z-index: 9999;
}
#mouse-scroll span{
  display: block;
  width: 5px; 
  height: 5px;
  -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
       transform: rotate(45deg);
       transform: rotate(45deg);
  border-right: 2px solid var(--color-primary); 
  border-bottom: 2px solid var(--color-primary);
  margin: 0 0 3px 5px;
}
#mouse-scroll .mouse {
  height: 21px;
  width: 14px;
  border-radius: 10px;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  border: 2px solid var(--color-primary);
  top: 170px;
}
.arrows-div{
  margin-right: 4px;
}
#mouse-scroll .down-arrow-1 {
  margin-top: 6px;
}
#mouse-scroll .down-arrow-1, #mouse-scroll .down-arrow-2, #mouse-scroll .down-arrow-3 {
  -webkit-animation: mouse-scroll 1s infinite; 
    -moz-animation: mouse-scroll 1s infinite:
}
#mouse-croll .down-arrow-1 {
   -webkit-animation-delay: .1s; 
   -moz-animation-delay: .1s;
   -webkit-animation-direction: alternate;
}
#mouse-scroll .down-arrow-2 {
  -webkit-animation-delay: .2s; 
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
}
#mouse-scroll .down-arrow-3 {
   -webkit-animation-delay: .3s;
   -moz-animation-dekay: .3s;
   -webkit-animation-direction: alternate;
}
#mouse-scroll .mouse-in {
  height: 5px;
  width: 2px;
  display: block; 
  margin: 5px auto;
  background: #ffffff;
  position: relative;
}
#mouse-scroll .mouse-in {
 -webkit-animation: animated-mouse 1.2s ease infinite;
  moz-animation: mouse-animated 1.2s ease infinite;
}

@-webkit-keyframes animated-mouse {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
     opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  } 
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* MEDIA QUERIES FOR MEDIUM DEVICES(LIKE TABLETS) */

@media screen and (max-width: 1024px) {
  header {
    /* height: 68vh; */
  }
}

/* MEDIA QUERIES FOR SMALLER DEVICES */

@media screen and (max-width: 700px) {
  .carousel-container{
    /* max-width: 18rem; */
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
  .carousel-slider{
    max-width: 20rem;
  }
  .carousel-thoughts{
    max-width: 16rem;
    margin: 1rem auto;
  }
  .control-dots{
    display: none;
  }
}

@media screen and (max-width: 600px) {
  header {
    /* height: 100vh; */
  }
  .carousel-thoughts{
    zoom: 0.9;
  }
}

@media screen and (max-width: 480px) {
  .carousel-thoughts{
    zoom: 0.8;
  }
}

