.experience__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.experience__container > div {
  background: var(--color-bg-variant);
  padding: 1.4rem 2rem;
  border-radius: 1rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.experience__container > div:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.experience__container > div h3 {
  color: var(--color-primary);
  margin-bottom: 1rem;
  text-align: center;
}

.experience__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.experience__details {
  display: flex;
  gap: 1rem;
}

.experience__details h4{
  max-width: 16rem;
  word-wrap: break-word;
}

.experience__details .text-light{
  display: none;
}

.experience__details-icon {
  margin-top: 6px;
  color: var(--color-primary);
}

/* MEDIA QUERIES FOR MEDIUM DEVICES(LIKE TABLETS) */

@media screen and (max-width: 1024px) {
  .experience__container {
    grid-template-columns: 1fr;
  }

  .experience__container > div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }

  .experience__content {
    padding: 1rem;
  }
  .experience__soft .experience__content{
    grid-template-columns: 1fr;
  }
  .experience__soft .experience__content .experience__details h4{
    max-width:100%;
  }
}

/* MEDIA QUERIES FOR SMALLER DEVICES */

@media screen and (max-width: 600px) {
  .experience__container {
    gap: 1rem;
  }

  .experience__container > div {
    width: 100%;
    padding: 2rem 1rem;
  }
}
