nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem 0 0 0;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(15px);
  z-index: 1000;
}

nav a {
  color: #ffffff;
  font-size: 1.5rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem 0.5rem 0 0;
  transition: color 0.3s, background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: relative;
  margin: 0 0.2rem;

}

.nav-text {
  /* display: none; */
  font-size: 0.8rem;
  font-weight: 600;
}

nav a:hover, nav a.active {
  background: transparent;
  color: #ffffff;
}

nav a:hover .nav-text, nav a.active .nav-text {
  display: block;
}

nav a:hover, nav a.active {
  background-color: rgba(255, 255, 255, 0.2); /* Subtle background on hover */
  color: #ffffff;
}

nav a:hover .nav-text, nav a.active .nav-text {
  display: block;
}

/* Adding white line under the active link */
nav a.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #ffffff; /* White line for active state */
  transition: all 0.3s ease;
}

@media screen and (max-width: 480px) {
  nav a {
    font-size: 1.5rem;
  }
  .nav-text {
    display: none !important;
  }
}
